################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConfigurationManager.Api/.vs/ConfigurationManager.Api/v16
/ConfigurationManager.Api/ConfigurationManager.Api/obj
/ConfigurationManager.Api/UT.ConfigurationManager.Api/obj
